@media (max-width: 900px) {
    body{
        overflow: visible;
    }
    .container{
        grid-template-areas: 
        "header"
        "ratings"
        "feedback";
        grid-template-columns: 1fr;

        text-align: center;
    }
    .ratings{
        justify-self: center;
    }
    .rating-card:first-child{
        right: 0;
    }
    
    .rating-card:nth-child(2){
        right: 0;
    }
    .feedback{
        flex-direction: column;
        align-items: center;
    }
    .card:nth-child(2){
        margin: 0;
    }
}