html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

:root {
    --CardAndTittle: hsl(300, 43%, 22%);
    --RatingCard: hsl(300, 24%, 96%);
    --Occuppation: hsl(333, 80%, 67%);

    --FontSize: 15px;
    --ParagraphColor: hsl(303, 10%, 53%);
}

/* Background Patterns Position */
.pattern-top,
.pattern-bottom {
    position: absolute;
}
.pattern-top {
    top: 0;
    left: 0;

    z-index: -1;
}
.pattern-bottom {
    bottom: 0rem;
    right: 0;

    z-index: -2;
}

/* Main stylization */
.container {
    max-width: 110rem;
    display: grid;
    grid-template-areas: 
        "header ratings"
        "feedback feedback";
    grid-template-columns: 35rem 1fr;
    grid-template-rows: fit-content fit-content;
    padding: 2rem;

    font-family: "League Spartan", sans-serif;
    font-size: 1.5rem;
}
.header .title {
    color: var(--CardAndTittle);
    font-size: 5rem;
}
.header p {
    color: var(--ParagraphColor);
    margin: 2rem 0;
}


/* RATING STYLIZATION */
.ratings {
    display: flex;
    justify-self: end;
    align-self: flex-end;

    color: var(--CardAndTittle);
    font-weight: 700;
}
.rating-card {
    background-color: var(--RatingCard);
    padding: 1.6rem 3rem;
    margin: 2rem 0;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    position: relative;
}
.rating-card::before {
    content: '';
    display: inline-block;
    background: url(../images/icon-star.svg) space center;
    width: 10rem;
    height: 1.6rem;
    margin-right: 2rem;
}
.rating-card:first-child {
    right: 8rem;
}

.rating-card:nth-child(2) {
    right: 4rem;
}


/* CARD STYLIZATION */

.card {
    background-color: var(--CardAndTittle);
    max-width: 33rem;
    padding: 4rem 3rem;
    border-radius: 1rem;
    position: relative;

    color: var(--RatingCard);
}
.card:nth-child(2) {
    top: 2rem;
}
.card:last-child {
    top: 4rem;
}
.card-header {
    display: flex;
    align-items: center;
}
.card-profile-photo {
    display: block;
    width: 4rem;
    border-radius: 50%;
}
.profile-info {
    padding-left: 2rem;
}
.profile-info .name {
    font-size: 1.5rem;
}
.profile-info .occupation {
    color: var(--Occuppation);
    font-weight: 300;
}
.review {
    padding-top: 3rem;

    text-align: left;
    font-weight: 500;
    line-height: 1.5;
}

/* GRID CONFIG */

.header {
    grid-area: header;
}

.ratings {
    grid-area: ratings;
}

.feedback {
    grid-area: feedback;

    display: flex;
    gap: 2rem;
}


/* FOOTER */

footer {
    margin-top: 5rem;
}
.attribution {
    font-size: 1.1rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}