:root{
    /* # Front-end Style Guide */

    /* ## Layout

    The designs were created to the following widths:

    - Mobile: 375px
    - Desktop: 1440px

    > 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens. */

    /* ## Colors */

    /* ### Primary */

    --CardAndTittle: hsl(300, 43%, 22%);
    --Ocuppation: hsl(333, 80%, 67%);

    /* ### Neutral */

    --ParagraphColor: hsl(303, 10%, 53%);
    --RatingCard: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    /* ## Typography */

    /* ### Body Copy */

    --FontSize: 15px;

    /* ### Font */

    /* --Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan); */
    /* font-family: "League Spartan", sans-serif; */
    /* --Weights: 400, 500, 700; */

}